<!doctype html><html lang="en"><head><meta charset="utf-8"><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no"><link rel="icon" href="/static/administrator/favicon.ico"><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700"><link rel="stylesheet" href="/static/administrator/fonticon/fonticon.css"><link rel="stylesheet" href="/static/administrator/splash-screen.css"><title>Metronic | Vue Demo</title><script defer="defer" src="/static/administrator/js/chunk-vendors.55ab6c34.js"></script><script defer="defer" src="/static/administrator/js/app.633b743b.js"></script><link href="/static/administrator/css/chunk-vendors.3a69674c.css" rel="stylesheet"><link href="/static/administrator/css/app.886ea03c.css" rel="stylesheet"></head><body class="page-loading"><script>if (document.documentElement) {
            var defaultThemeMode = "system";

            var name = document.body.getAttribute("data-kt-name");
            var themeMode = localStorage.getItem("kt_" + (name ? name + "_" : "") + "theme_mode_value");

            if (themeMode === null) {
                if (defaultThemeMode === "system") {
                    themeMode = window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light";
                } else {
                    themeMode = defaultThemeMode;
                }
            }
            document.documentElement.setAttribute("data-theme", themeMode);
        }</script><noscript><strong>We're sorry but metronic-vue doesn't work properly without JavaScript enabled. Please enable it to continue.</strong></noscript><div id="app"></div><div id="splash-screen" class="splash-screen"><img src="/static/administrator/media/logos/default-small.svg" alt="Metronic logo"/> <span>Loading ...</span></div></body></html>